@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    color: white;
}
body
{
    background-color: black;
}
.main
{
    background-image: url("assets/pictures/background.jpg");
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    background-size: max(1200px, 100vw);
}
.main .box{
    height: 644px;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
    
}
nav
{
    display: flex;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    justify-content: space-between;
    height: 100px;

}
nav img{
    width: 130px;
    position: relative;
    z-index: 10;
    
}
nav button
{
    position: relative;
    z-index: 10;
}
.hero
{
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 23px;
    padding: 0 30px;
    position: relative;
    z-index: 10;
    
}
.hero> :first-child{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2)
{
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3)
{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.seperation
{
    height: 5px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}
/* .btn
{
    padding: 3px 8px;
    background-color: white;
    
} */
.btn-red
{
    background-color: red;
    color: white;
    padding: 7px 12px 6px 12px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.418);
    cursor: pointer;
    font-weight: 400;
    
}
.btn-red-sm
{
    background-color: red;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.418);
    border-radius: 4px;
    cursor: pointer;
    padding: 3px 8px;
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main input{
    
    padding: 12px 101px 12px 14px;
    font-size: 12px;
    background-color: rgba(23, 23, 23,0.7);
    border-radius: 4px;
    font-weight: 500;
    border: 1px solid hsl(0, 0%, 100%,0.5);
    color: white;

}
.first
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    top: 10px;
    

}
.secImage 
{
    position: relative; 
}
.secImage img {
    width: 490px;
    
    position: relative;
    z-index: 10;
    
}
.secImage video
{
    position: absolute;
    right: 0;
    width: 450px;  
}
section.first > div{
    display:flex;
    flex-direction: column;
    gap: 25px;
    
}
section.first > div :first-child
{
    font-size: 48px;
    font-weight: bolder;
}
section.first > div :nth-child(2)
{
    font-size: 24px;
}
section.first > div :nth-child(3)
{
    font-size: 24px;
}
.third img
{
    visibility: hidden;
    width: 300px;

}

section.first
{
    height: 450px;
}
.faq h2
{
    text-align: center;
    margin-bottom: 34px;
    font-size: 48px;
    font-weight: 900;
}
.faq{
    background: black;
    color: white;
    padding: 34px;
    font-size: 24px;
}

.faqbox 
{
    display: flex;
    background-color: #2d2d2d;
    padding: 24px;
    margin: 10px  auto;
    max-width: 70vw;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.1s ease-out;

}
.faqbox:hover
{
    background-color: #414141;
}
.hero-buttons input
{
    margin-top: 24px;
    padding: 12px 101px 12px 14px;
    font-size: 12px;
    background-color: rgba(23, 23, 23,0.7);
    border-radius: 4px;
    font-weight: 500;
    border: 1px solid hsl(0, 0%, 100%,0.5);
    color: white;
}
.email 
{
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    
}



